<mat-toolbar [class.dark-theme]="isDark" color="primary">
  <span>
      Weather App
    </span>
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>
&nbsp;
<div class="container-fluid">
  <div class="card mw-100">
    <div class="card-body">

      <div class="text-center">
        <div class="ga-margin-1-rem">
          <button (click)="openWeatherModal({}, true)" class="ga-width-100-per" color="primary" mat-raised-button>
            Current
            Weather
          </button>
          &nbsp;
          <button (click)="openfiveDayForcastModal({}, true)" class="ga-width-100-per" color="primary"
                  mat-raised-button>5
            Day Forcast
          </button>
        </div>
      </div>

    </div>
    <div class="text-center card-footer">
      <p><strong>Copyright © 2021 South Africa. All Rights Reserved. Powered by Mama-Money</strong></p>
    </div>
  </div>
</div>
